
.Main__wrapper


.Main__arts
  max-width: 1300px
  margin: 0 auto
.Main__searchWrapper
  width: 1000px
  display: flex
  flex-direction: column
  margin: 0 auto 20px
  .Main__search
    display: block
    height: 50px
    font-size: 30px
    padding: 10px
    border-radius: 10px
    border: solid 1px #bababa
    &:focus
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)