
.smallButton
  display: flex
  justify-content: center
  align-items: center
  background: #e6858b
  border-radius: 5px
  color: azure
  cursor: pointer
  width: 180px
  height: 30px
  border: solid 1px #bababa
  font-size: 13px
  &:hover
    background: #e6625e

.smallButton__active
  background: #e63131
  &:hover
    background: #e63131
