@import url('https://fonts.googleapis.com/css?family=Roboto')

body
  margin: 100px 0 0 0
  padding: 0
  font-family: 'Roboto', sans-serif

p
  margin: 0
  padding: 0

a
  text-decoration: none

.input
  padding: 7px 5px
  font-family: 'Roboto', sans-serif
  font-size: 14px
  border-radius: 4px
  border: solid 1px #bababa
  margin-top: 10px
  width: 250px