
#User__selectImg
  display: none

.avatarWrapper
  width: 200px
  height: 200px
  border-radius: 50px
  overflow: hidden
  margin: 0 auto
  .avatar
    width: 200px
    display: inline-block
    box-sizing: border-box

.UserWrapper
  background: white
  width: 290px
  padding: 30px
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.31)
  .UserInfoWrapper
    text-align: center
    .User_name
      margin: 30px 0 5px
    .User_status
      color: rgba(105, 105, 105, 1)
      margin: 8px 0
      font-size: 16px
    .User_location
      color: rgba(105, 105, 105, 1)
      margin: 8px 0
      font-size: 16px
    .User_about
      margin: 15px 0
      text-align: left
    .User_date
      text-align: left

    .User_subscribe
      width: 100%
      margin: 20px 0 30px
      display: flex
      justify-content: space-around
      span
        color: #ffbec3
        font-weight: lighter

    .User_subscribe_active
      width: 100%
      margin: 20px 0 30px
      background: #4d48e6
      display: flex
      justify-content: space-around
      &:hover
        background: #1654ff
      span
        font-weight: lighter

.UserSetting
  text-align: right
  margin-top: 20px
  a
    color: #bababa
    font-size: 13px
    &:hover
      color: #929292